.container-fluid{
	height:150px;
	width:100%;
	background-color:#33334D;
}

.affix {
      top: 0;
      right: 0;
      left:auto;
      width: 100%;
      opacity: 0.95;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
  }
  
 
  .affix + .container-fluid {
      padding-top: 70px;
  }
 .nav .badge-notify{
  	background-color:red;
  	position:relative;
  	top:-10px;
  }
.nav .dropdown-menu :hover{
	color:#E7E7E7;
	background:#3C3C3C;
	font-size:18px;
}
.sidenav li a{
	background:lightblue;
}
